.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    font-weight: bold;

    background-image: url('../../assets/images/Pershing_II.jpg');
    /* נתיב לתמונה שלך */
    background-size: cover;
    /* זה יגרום לתמונה לכסות את כל העמוד */
    background-position: center center;
    /* ממרכז את התמונה */
    background-attachment: fixed;
    /* התמונה תישאר במקום בעת גלילה */
    /* height: 100vh; כדי שהתמונה תכסה את כל העמוד גם כשהדף ארוך */
    margin: 0;
    /* לוודא שאין רווחים מסביב */
    padding-bottom: 250px;

}


/* עיצוב טופס כניסה */
.container {
    margin-top: 70px;
    background-color: rgba(255, 255, 255, 0.4);
    /* קצת יותר אטום */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    /* הוספת צל עדין */
    padding: 30px;
    /* הוספת רווח פנימי */
    border-radius: 20px;
    /* פינות מעוגלות יותר */
    max-width: 50%;
}

.login-title {
    font-family: 'Arial', sans-serif;
    font-size: 35px;
    color: #000000;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    font-size: 16px;
    /* הגדלת גודל הפונט */
    text-align: center;
    /* כיוון הכתיבה למרכז */
    display: block;
    /* זה יגרום לכך שהטקסט יתפוס את כל הרוחב */
    margin-bottom: 10px;
    /* מרווח בין הלייבל לשדה */
}

input.form-control {
    border-radius: 8px;
    padding: 15px;
    font-size: 16px;
    text-align: right;
}

p {
    font-size: 14px;
}

button {
    padding: 15px;
    font-size: 16px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.invalid-feedback {
    color: #ff4d5f;
}

.invalid-feedback p {
    margin: 0;
}

/* שיפור העיצוב של כפתור ושלושה */
.btn-primary {
    background-color: #007bff;
    background-color: #007bff;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}